<h1>Hello Eurovision Fan!!</h1>

<p>It's time to pick a country my friend</p>

<%= form_with url: "/person", method: :post do |form| %>
  <%= form.label :query, "Yaaaksimesshhhh What is your name?" %>
  <%= form.text_field :name %>
  <%= form.submit "Get your Country!!!!!!" %>
<% end %>


<p>So far we have:</p>
<% Country.where(taken: true).each do |country| %>
  <% person = Person.find_by(country_id: country.id.to_s) %>
 <a href=<%= "/person/" + person.name %>><%= person.name.capitalize %></a>:
<%= country.country_name.capitalize %>!
<br>
<br>
<% end %>

